.item {
  border: 2px solid #ccc;
  border-radius: 8px;
  break-inside: avoid;
  display: inline-block;
  width: 45%;
}

.container {

}



.item.img {
  height:100px;
  max-height: 100px;
  background-color: #ccc;
}

.item:nth-child(2) {
  background-color: red;
}