<div class="main-page-container">
  <!--=include ../components/header.html -->
  <section class="description-section description-ingredients">
    <div class="ingredients">
      <span>Innovating flavours,</span>
      <span>perfecting ingredients</span>
    </div>
    <div class="brings">
      <span>Flavora brings</span>
      <span>you the finest</span>
      <span>spices and ingredients,</span>
      <span>crafted to perfection.</span>
    </div>
  </section>
  <section class="description-section description-offer">
    <div class="description-offers-bg first"></div>
    <div class="description-offers-bg second"></div>
    <div class="description-offers-title">
      <h2>Discover the essence of quality and</h2>
      <h2>innovation in every product we offer.</h2>
    </div>
    <a href="/applications.html" class="description-offers-link">Learn More</a>
  </section>
  <!--=include ../components/footer.html -->
</div>