@font-face {
  font-family: "ComicSansMS";
  src: url("../fonts/Comic-Sans-MS-Regular/ComicSansMS.eot");
  src: url("../fonts/Comic-Sans-MS-Regular/ComicSansMS.eot") format("embedded-opentype"), url("../fonts/Comic-Sans-MS-Regular/ComicSansMS.woff2") format("woff2"), url("../fonts/Comic-Sans-MS-Regular/ComicSansMS.woff") format("woff"), url("../fonts/Comic-Sans-MS-Regular/ComicSansMS.ttf") format("truetype"), url("../fonts/Comic-Sans-MS-Regular/ComicSansMS.svg#ComicSansMS") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ComicSansMSBold";
  src: url("../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.eot");
  src: url("../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.eot") format("embedded-opentype"), url("../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.woff2") format("woff2"), url("../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.woff") format("woff"), url("../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.ttf") format("truetype"), url("../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.svg#ComicSansMS") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "ComicSansMS", sans-serif;
  font-size: 18px;
  padding-top: 70px;
}

body.navigation-open {
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none !important;
}

.main-page-container {
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
}

.offset-container {
  width: 100%;
  padding-inline: 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header-desktop {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
}

.logo-desktop {
  width: 300px;
  min-width: 300px;
  height: 50px;
  min-height: 50px;
  background-image: url("../img/logo-desktop.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.navigation {
  list-style: none;
  color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.navigation li {
  display: block;
}
.navigation li a {
  display: block;
  padding: 10px;
  color: #000000;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}
.navigation li a.active {
  padding-inline: 10px;
  border-color: #000000;
}
.navigation.desktop li a {
  transition: all 200ms ease-in-out;
}
.navigation.desktop li a:not(.active):hover {
  cursor: pointer;
  transform: scale(1.05);
  border-color: #000000;
}

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 1000;
}

.mobile-header-content {
  width: 100%;
  padding: 10px;
  color: #ffffff;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.header-hidden {
  display: none;
}
.header-hidden.open {
  display: block;
}
.header-hidden.open .header-backdrop {
  animation: fade 400ms ease-in-out forwards;
}
.header-hidden.open .hidden-navigation {
  animation: slide 400ms ease-in-out forwards;
}
.header-hidden.close {
  display: block;
}
.header-hidden.close .header-backdrop {
  animation: fadeOut 400ms ease-in-out forwards;
}
.header-hidden.close .hidden-navigation {
  animation: slideOut 400ms ease-in-out forwards;
}

.header-trigger {
  width: 60px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.header-trigger span {
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 30px;
}
.header-trigger.open span {
  background-color: #000000;
}
.header-trigger.close {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  position: relative;
}
.header-trigger.close span {
  width: 130%;
  position: absolute;
  background-color: #ffffff;
  top: 40%;
  left: -15%;
}
.header-trigger.close span:first-child {
  transform: rotate(45deg);
}
.header-trigger.close span:last-child {
  transform: rotate(-45deg);
}

.header-fixed-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
}

.header-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  z-index: 1001;
}

.logo-mobile {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  background-image: url("../img/logo.png");
  background-position: center center;
  background-size: contain;
}

.hidden-navigation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 1002;
  padding-block: 10px;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-end;
}

.navigation.mobile {
  color: #ffffff;
  display: block;
}
.navigation.mobile li a {
  text-align: end;
  padding-right: 0;
  color: #ffffff;
}
.navigation.mobile li a.active {
  padding-right: 10px;
  border-color: #ffffff;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0;
  }
}
@keyframes slide {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
.footer {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-inline: 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
}

.footer-content {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-content-block {
  text-align: center;
}
.footer-content-block.desktop {
  display: none;
}
.footer-content-block .block-name {
  margin-bottom: 20px;
}
.footer-content-block .block-details span {
  display: block;
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.footer-logo {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer-logo.phone {
  background-image: url("../img/phone.png");
}
.footer-logo.mail {
  background-image: url("../img/mail.png");
}

.footer-rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.terms-link {
  display: block;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  transition: all 200ms ease-in-out;
}

.description-section {
  position: relative;
  padding-top: 110%;
  font-family: "ComicSansMSBold", sans-serif;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: cover;
}
.description-section.description-ingredients {
  background-image: url("../img/ingredients.png");
}
.description-section.description-offer {
  padding-top: 65%;
}
.description-section.description-offer .description-offers-bg {
  position: absolute;
  bottom: 0;
  background-position: -150px 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.description-section.description-offer .description-offers-bg.first {
  left: 0;
  background-image: url("../img/offer_01.png");
}
.description-section.description-offer .description-offers-bg.second {
  display: none;
  right: 0;
  background-image: url("../img/offer_02.png");
}

.ingredients {
  position: absolute;
  font-size: 25px;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-wrap: nowrap;
  color: #ffffff;
}
.ingredients * {
  display: block;
}

.brings {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  padding: 30px;
}
.brings * {
  display: block;
}

.description-offers-title {
  font-family: "ComicSansMSBold", sans-serif;
  font-size: 18px;
  position: absolute;
  top: 10%;
  color: #000000;
  left: 50%;
  transform: translateX(-50%);
  text-wrap: nowrap;
}
.description-offers-title * {
  font-size: inherit;
  margin: 0;
}

.description-offers-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  color: #000000;
  padding: 10px 20px;
  border: 3px solid #000000;
  font-size: 18px;
  font-family: "ComicSansMSBold", sans-serif;
}

@media (width < 400px) {
  .description-section {
    padding: 20px;
    font-size: 18px;
  }
  .description-section .ingredients, .description-section .brings {
    position: initial;
    transform: unset;
    text-wrap: wrap;
    padding: 0;
  }
  .description-section .ingredients {
    font-size: 20px;
  }
  .description-section .brings {
    margin-top: 20px;
    font-size: 16px;
  }
  .terms-link {
    padding-left: 0;
  }
}
@media (width >= 400px) {
  .ingredients {
    font-size: 30px;
  }
}
@media (width > 767px) {
  .description-section {
    padding-top: 80%;
  }
  .ingredients {
    font-size: 48px;
  }
  @supports not ((-webkit-text-stroke-width: 3px) and (-webkit-text-stroke-color: #000000)) {
    .ingredients {
      text-shadow: 3px -3px 0 #000000, 3px 3px 0 #000000, 3px -3px 0 #000000, -3px -3px 0 #000000;
    }
  }
  @supports (-webkit-text-stroke-width: 3px) {
    .ingredients {
      -webkit-text-stroke-width: 3px;
    }
  }
  @supports (-webkit-text-stroke-color: #000000) {
    .ingredients {
      -webkit-text-stroke-color: #000000;
    }
  }
  .description-offers-link {
    top: 30%;
  }
}
@media (width < 1025px) {
  .footer-content-block .block-details .footer-logo {
    display: none;
  }
}
@media (width > 1024px) {
  body {
    padding-top: 0;
  }
  .hide-desktop {
    display: none;
  }
  .header-desktop {
    display: flex;
  }
  .mobile-header {
    display: none;
  }
  .footer {
    font-size: 24px;
  }
  .footer-content {
    justify-content: space-between;
    padding-inline: 40px;
  }
  .footer-content-block {
    text-align: start;
  }
  .footer-content-block.desktop {
    display: block;
  }
  .text-align-end {
    text-align: end;
  }
  .footer-rights {
    justify-content: flex-start;
    gap: 60px;
  }
  .terms-link:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-color: #ffffff;
  }
  .description-section {
    padding-top: 60%;
    background-position: center center;
  }
  .ingredients {
    top: 28%;
    font-size: 64px;
  }
  .brings {
    font-size: 24px;
  }
  .footer-contact:not(:last-child) {
    margin-bottom: 20px;
  }
  .description-section.description-offer .description-offers-bg {
    background-size: contain;
    max-height: 500px;
  }
  .description-section.description-offer .description-offers-bg.second {
    display: block;
    background-position: 100% 100%;
  }
  .description-offers-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 24px;
  }
  .description-offers-link {
    font-size: 36px;
  }
}
@media (width > 1365px) {
  .ingredients {
    font-size: 72px;
  }
  .brings {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-wrap: nowrap;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
  }
  .description-section.description-offer .description-offers-bg {
    background-size: contain;
    max-height: 800px;
  }
  .description-section.description-offer .description-offers-bg.second {
    display: block;
    background-position: 100% 100%;
  }
  .description-offers-title {
    font-size: 36px;
  }
}