<footer class="footer">
  <div class="footer-content">
    <div class="footer-content-block desktop">
      <h5 class="block-name">Company details:</h5>
      <div class="block-details">
        <span>Flavora s.r.o.</span>
        <span>Amforová 1925/7</span>
        <span>CZ-15500 Prague</span>
        <span>Czech republic</span>
      </div>
    </div>
    <div class="footer-content-block text-align-end">
      <h5 class="block-name">Contacts:</h5>
      <div class="block-details">
        <a href="tel:+420 777 732 011" type="tel">+420 777 732 011</a>
        <a href="mailto:info@flavora.eu">info@flavora.eu</a>
      </div>
    </div>
  </div>
  <div class="footer-rights">
    <span>© 2024 Flavora. All rights reserved.</span>
    <a href="/terms.html" class="terms-link">Terms and condotions</a>
  </div>
</footer>