<div class="mobile-header">
  <div class="mobile-header-content">
    <a href="/" class="logo-mobile"></a>
    <div class="header-trigger open">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="header-hidden header-fixed-container">
    <div class="header-backdrop"></div>
    <div class="hidden-navigation">
      <div class="header-trigger close">
        <span></span>
        <span></span>
      </div>
      <ul class="navigation mobile">
        <li><a href="/">Main</a></li>
        <li><a href="/applications.html">Applications</a></li>
        <li><a href="/about-us.html">About Us</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</div>