@mixin size($width, $height) {
  width: $width + px;
  min-width: $width + px;
  height: $height + px;
  min-height: $height + px;
}

@mixin fullSize() {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin textBorder($size, $color) {
  text-shadow: $size (-$size) 0 $color, $size $size 0 $color, $size (-$size) 0 $color, (-$size) (-$size) 0 $color;
}