@font-face {
  font-family: 'ComicSansMS';
  src: url('../fonts/Comic-Sans-MS-Regular/ComicSansMS.eot');
  src: url('../fonts/Comic-Sans-MS-Regular/ComicSansMS.eot') format('embedded-opentype'),
       url('../fonts/Comic-Sans-MS-Regular/ComicSansMS.woff2') format('woff2'),
       url('../fonts/Comic-Sans-MS-Regular/ComicSansMS.woff') format('woff'),
       url('../fonts/Comic-Sans-MS-Regular/ComicSansMS.ttf') format('truetype'),
       url('../fonts/Comic-Sans-MS-Regular/ComicSansMS.svg#ComicSansMS') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ComicSansMSBold';
  src: url('../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.eot');
  src: url('../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.eot') format('embedded-opentype'),
       url('../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.woff2') format('woff2'),
       url('../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.woff') format('woff'),
       url('../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.ttf') format('truetype'),
       url('../fonts/Comic-Sans-MS-Bold/ComicSansMSBold.svg#ComicSansMS') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@import 'variables.scss';

body {
  font-family: 'ComicSansMS', sans-serif;
  font-size: 18px;
  padding-top: 70px;
}

body.navigation-open {
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none !important;
}

.main-page-container {
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
}

.offset-container {
  width: 100%;
  padding-inline: $offset * 2;
}

a {
  text-decoration: none;
  color: $white;
}


@import 'partials/main';

@media (width > 1024px) {
  body {
    padding-top: 0;
  }

  .header-desktop {
    display: flex;
  }

  .mobile-header {
    display: none;
  }

  .footer {
    font-size: 24px;
  }

  .footer-content {
    justify-content: space-between;
    padding-inline: $offset * 4;
  }

  .footer-content-block {
    text-align: start;
  }

  .footer-content-block.desktop {
    display: block;
  }

  .text-align-end {
    text-align: end;
  }

  .footer-rights {
    justify-content: flex-start;
    gap: $offset * 6;
  }

  .terms-link:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-color: $white;
  }
}